* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template:
    "one two three" 50px
    "one four five" 1fr/
    100px 200px minmax(300px, 1fr);
  height: 100vh;
  width: 100vw;
}
.one {
  display: grid;
  grid-area: one;
  background-color: rgb(231, 203, 203);
  border: 2px solid cornflowerblue;
  grid-gap: 5px;
  grid-auto-rows: 30px;
}
.one p {
  display: grid;
  border: 2px solid rgb(218, 92, 117);
  padding: 3px;
}

.two {
  grid-area: two;
  background-color: rgb(219, 200, 245);
  border: 2px solid cornflowerblue;
}

.three {
  grid-area: three;
  background-color: rgb(200, 239, 245);
  border: 2px solid cornflowerblue;
}
.four {
  display: grid;
  grid-area: four;
  background-color: rgb(240, 188, 217);
  border: 2px solid cornflowerblue;
  grid-template-rows: 200x minmax(700px, 1fr) 600px;
}
.fourone img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.fourone {
  display: grid;
  place-content: center;
  border: 2px solid cornflowerblue;
  text-align: center;
}

.fourtwo {
  display: grid;
  border: 2px solid cornflowerblue;
  grid-template-rows: 120px 100px 200px;
  overflow: scroll;
}
.class p,
.general p,
.pear p {
  display: grid;
  border: 2px solid cornflowerblue;
  grid-auto-rows: 30px;
  overflow: scroll;
}
.fourthree {
  display: grid;
  border: 2px solid cornflowerblue;
}

.five {
  display: grid;
  grid-area: five;
  background-color: rgb(246, 255, 222);
  border: 2px solid cornflowerblue;
  grid-template-rows: 700px minmax(100px, 1fr);
}
.fiveone,
.fivetwo {
  display: grid;
  border: 2px solid cornflowerblue;
}
