* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.head {
  background-color: bisque;
  padding: 20px;
}

.container {
  display: grid;
  grid-template:
    "left main right" 1fr/
    200px minmax(300px, 1fr) 300px;
  height: 100vh;
}
.left {
  padding: 5px;
  display: grid;
  grid-area: left;
  border: 5px solid coral;
  grid-template-rows: minmax(200px, 400px) 1fr 300px;
  grid-gap: 5px;
}
.lefts {
  display: grid;
  grid-gap: 10px;
  border: 3px solid coral;
  padding: 5px;
}
.left-top {
  display: grid;
  padding: 5px;
  grid-template-rows: repeat(autofit, minmax(200px, 400px));
  grid-gap: 10px;
  overflow: scroll;
  height: 400px;
}
.right {
  padding: 5px;
  display: grid;
  grid-area: right;
  border: 5px solid coral;
  grid-gap: 5px;
  grid-template-rows: auto 120px 1fr;
}
.rights {
  padding: 5px;
  display: grid;
  border: 3px solid coral;
  grid-gap: 10px;
  align-content: center;
}
.right h2 {
  padding: 5px;
}
li {
  display: grid;
  list-style-type: none;
  border: 2px solid rgb(128, 127, 127);
  background-color: rgb(207, 243, 247);
}
.main {
  display: grid;
  grid-area: main;
  border: 5px solid coral;
  grid-gap: 10px;
  overflow: scroll;
  padding: 5px;
  grid-template-rows: repeat(autofit, minmax(500px, 1fr));
}
p {
  display: grid;
  border: 2px solid rgb(128, 127, 127);
  background-color: rgb(207, 243, 247);
  place-content: center;
}
@media screen and (max-width: 900px) {
  .container {
    grid-template:
      "left main right" 1fr/
      200px minmax(300px, 1fr) 50px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    grid-template:
      "main" 1fr /
      minmax(300px, 1fr);
  }
  .left,
  .right {
    display: none;
  }
}
